<app-navbar></app-navbar>

<div class="dashboard-layout">
    <app-organizer-sidebar></app-organizer-sidebar>

    <div class="dashboard-content">

        <div class="dashboard-header">
            <h1>Hoş geldiniz, {{ organizerName }} 👋</h1>
            <p>
                Organizatör panelinizden etkinliklerinizi oluşturabilir, yönetebilir ve
                katılımcıları takip edebilirsiniz.
            </p>
        </div>

        <div class="stats-grid">

            <div class="stat-card event-card">
                <mat-icon>event</mat-icon>
                <h3>Toplam Etkinlik</h3>
                <span>{{ totalEvents }}</span>
            </div>

            <div class="stat-card waiting-card">
                <mat-icon>hourglass_top</mat-icon>
                <h3>Bekleyen Başvuru</h3>
                <span>{{ pendingRegistrations }}</span>
            </div>

            <div class="stat-card participant-card">
                <mat-icon>groups</mat-icon>
                <h3>Toplam Katılımcı</h3>
                <span>{{ totalParticipants }}</span>
            </div>

            <div class="stat-card approved-card">
                <mat-icon>verified</mat-icon>
                <h3>Onaylanan Kayıt</h3>
                <span>{{ approvedRegistrations }}</span>
            </div>

        </div>

        <mat-card class="activity-card">

            <div class="activity-header">
                <h2>Yaklaşan Etkinlikler</h2>
                <mat-icon>event_available</mat-icon>
            </div>

            <div class="activity-item" *ngFor="let event of upcomingEvents">

                <div class="event-info">

                    <h3>{{ event.etkinlik_adi }}</h3>

                    <span>
                        {{ event.baslangic_tarihi | date:'dd.MM.yyyy' }}
                    </span>

                    <p>

                        {{ event.onayli_katilimci }} /
                        {{ event.max_katilimci_sayisi }}
                        Katılımcı

                    </p>

                    <div class="progress-bar">

                        <div class="progress-fill" [style.width.%]="
            (event.onayli_katilimci * 100) /
            event.max_katilimci_sayisi
          ">

                        </div>

                    </div>

                </div>

                <span class="progress-text">

                    {{
                    ((event.onayli_katilimci * 100) /
                    event.max_katilimci_sayisi).toFixed(0)
                    }}%

                </span>

            </div>

            <p class="empty-text" *ngIf="upcomingEvents.length === 0">

                Yaklaşan etkinlik bulunmuyor.

            </p>

        </mat-card>

    </div>

</div>